<%- include("layouts/header") %>
  <body>
<%- include("layouts/nav1") %>
<div
      class="hero page-inner overlay"
      style="background-image: url('images/hero_bg_1.jpg')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Blog</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  Blog
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <section class="features-1">
      <div class="container">
        <div class="row">
          <% blog_single.forEach(v_b => { %>
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
            <div class="box-feature">
              <span class="<%= v_b.image _%>"></span>
              <h3 class="mb-3"><%= v_b.title _%></h3>
              <p class="metin_kisalt">
                <%= v_b.text[0] _%>
              </p>
              <p><a href="blog-single/<%= v_b._id _%>" class="learn-more">Daha Fazlası</a></p>
            </div>
          </div>
        <%  }); %>
        </div>
      </div>
    </section>
<%- include("layouts/footer") %>





