<%- include("layouts/header") %>

  <body>
    <%- include("layouts/nav1") %>
      <div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
              <h1 class="heading" data-aos="fade-up">Garyrimülkler</h1>

              <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                <ol class="breadcrumb text-center justify-content-center">
                  <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                  <li class="breadcrumb-item active text-white-50" aria-current="page">
                    Garyrimülkler
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row mb-5 align-items-center">
            <div class="col-lg-6 text-center mx-auto">
              <h2 class="font-weight-bold text-primary heading">
                Öne Çıkan Garyrimülkler
              </h2>
            </div>
          </div>
          <%- include("layouts/popiler-gaymenkul") %>
        </div>
      </div>

      <div class="section section-properties">
        <div class="container">
          <div class="row">
            <ul style="font-size: 3vh;" class="nav nav-tabs">
              <li class="nav-item">
                <a id="satilik" class="nav-link active" aria-current="page" href="javascript:void(0)">Satılık</a>
              </li>
              <li class="nav-item">
                <a id="kiralik" class="nav-link " href="javascript:void(0)">Kiralık</a>
              </li>
              <li class="nav-item">
                <a id="ticari" class="nav-link" href="javascript:void(0)">Ticari</a>
              </li>
              <li class="nav-item">
                <div style="padding-top: 9px; color: black; margin-left: 1rem; font-size: 1.5rem;" class="form-check ">
                  <input class="form-check-input" type="checkbox" value="proje" id="checkProje">
                  <label class="form-check-label" for="checkProje">
                    Proje
                  </label>
                </div>
              </li>
            </ul>

            <div id="properties_body">
              <div class="satilik d-flex flex-wrap">

                <% if(mulk_data){ %>
                  <% mulk_data.forEach(v_m=> { %>
                    <% if(v_m.ilan_cesid==='satılık' ){ %>
                      <div data-mulk-id="<%= v_m._id _%>" class="p-3 property col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div data-proje="<%= v_m.proje _%>" class="property-item mb-30">
                          <h5>Seri nu: <%= v_m.seri_number _%>
                          </h5>
                          <a href="property-single" class="img">
                            <div id="carouselExampleIndicators<%= v_m._id _%>" class="carousel slide">

                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img data-src="images/mulk-images/5x5/<%= v_m.image[0]_%>" class="d-block w-100"
                                    alt="ilan resmi">
                                </div>
                                <% for (let index=1; index < v_m.image.length; index++) { %>
                                  <div class="carousel-item">
                                    <img data-src="images/mulk-images/5x5/<%= v_m.image[index] _%>"
                                      class="d-block w-100" alt="ilan resim">
                                  </div>
                                  <% } %>
                              </div>
                              <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators<%= v_m._id _%>" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators<%= v_m._id _%>" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          </a>

                          <div class="property-content">
                            <div class="price mb-2">$<%= v_m.price %>
                                <% if(v_m.proje===true){ %>
                                  <p style="float: right; color: red;">Projeden</p>
                                  <% } %>
                            </div>
                            <div>
                              <span class="d-block mb-2 text-black-50">
                                <%= v_m.adress _%>
                              </span>
                              <span class="city d-block mb-3">
                                <%= v_m.province _%> / <%= v_m.country _%>
                              </span>

                              <div class="specs d-flex mb-4">
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-home me-2"></span>
                                  <span class="caption">
                                    <%= v_m.room _%>
                                  </span>
                                </span>
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-bed me-2"></span>
                                  <span class="caption">
                                    <%= v_m.bedroom _%>
                                  </span>
                                </span>
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-bath me-2"></span>
                                  <span class="caption">
                                    <%= v_m.bath _%>
                                  </span>
                                </span>

                                <span class="d-block d-flex align-items-center ">
                                  <span class="icon-area-chart me-2"></span>
                                  <span class="caption">
                                    <%= v_m.area_net %>m2
                                  </span>
                                </span>
                              </div>

                              <div class="d-flex">
                                <a data-mulk-id="<%= v_m._id %>" href="property-single/<%= v_m._id _%>"
                                  class="btn btn-primary py-2 px-3 text-uppercase">incele</a>
                                <a target="_blank"
                                  href="https://wa.me/905517026813?text=Merhaba,<%= v_m._id _%>,seri numaralı ilan ile ilgili bilgi almak istiyorum."><i
                                    class="bi bi-whatsapp"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                        <% }); %>
                          <% } %>

                            <div class="w-100">
                              <hr>
                              <button name="satilik"  type="button" class=" yukle btn btn-primary" style=" 
                position: relative;
                top: -5vh;
                left: 50%;
                transform: translate(-50%, 0);">Yükle</button>
                            </div>

              </div>
              <div class="kiralik d-none d-flex flex-wrap">
                <% if(mulk_data){ %>
                  <% mulk_data.forEach(v_m=> { %>
                    <% if(v_m.ilan_cesid==='kiralık' ){ %>
                      <div data-mulk-id="<%= v_m._id _%>" class="p-3 property col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="property-item mb-30">
                          <h5>Seri nu: <%= v_m.seri_number _%>
                          </h5>
                          <a href="property-single" class="img">
                            <div id="carouselExampleIndicators<%= v_m._id _%>" class="carousel slide">

                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img data-src="images/mulk-images/5x5/<%= v_m.image[0]_%>" class="d-block w-100"
                                    alt="ilan resmi">
                                </div>
                                <% for (let index=1; index < v_m.image.length; index++) { %>
                                  <div class="carousel-item">
                                    <img data-src="images/mulk-images/5x5/<%= v_m.image[index] _%>"
                                      class="d-block w-100" alt="ilan resim">
                                  </div>
                                  <% } %>
                              </div>
                              <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators<%= v_m._id _%>" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators<%= v_m._id _%>" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          </a>

                          <div class="property-content">
                            <div class="price mb-2">$<%= v_m.price %>
                                <% if(v_m.proje===true){ %>
                                  <p style="float: right; color: red;">Projeden</p>
                                  <% } %>
                            </div>
                            <div>
                              <span class="d-block mb-2 text-black-50">
                                <%= v_m.adress _%>
                              </span>
                              <span class="city d-block mb-3">
                                <%= v_m.province _%> / <%= v_m.country _%>
                              </span>

                              <div class="specs d-flex mb-4">
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-home me-2"></span>
                                  <span class="caption">
                                    <%= v_m.room _%>
                                  </span>
                                </span>
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-bed me-2"></span>
                                  <span class="caption">
                                    <%= v_m.bedroom _%>
                                  </span>
                                </span>
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-bath me-2"></span>
                                  <span class="caption">
                                    <%= v_m.bath _%>
                                  </span>
                                </span>

                                <span class="d-block d-flex align-items-center ">
                                  <span class="icon-area-chart me-2"></span>
                                  <span class="caption">
                                    <%= v_m.area_net %>m2
                                  </span>
                                </span>
                              </div>

                              <div class="d-flex">
                                <a data-mulk-id="<%= v_m._id %>" href="property-single/<%= v_m._id _%>"
                                  class="btn btn-primary py-2 px-3 text-uppercase">incele</a>
                                <a target="_blank"
                                  href="https://wa.me/905517026813?text=Merhaba,<%= v_m._id _%>,seri numaralı ilan ile ilgili bilgi almak istiyorum."><i
                                    class="bi bi-whatsapp"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                        <% }); %>
                          <% } %>

                            <div class="w-100">
                              <hr>
                              <button name="kiralik"  type="button" class="yukle btn btn-primary" style=" 
                position: relative;
                top: -5vh;
                left: 50%;
                transform: translate(-50%, 0);">Yükle</button>
                            </div>
              </div>
              <div class="ticari d-none d-flex flex-wrap">
                <% if(mulk_data){ %>
                  <% mulk_data.forEach(v_m=> { %>
                    <% if(v_m.ilan_cesid==='ticari' ){ %>
                      <div data-mulk-id="<%= v_m._id _%>" class="p-3 property col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="property-item mb-30">
                          <h5>Seri nu: <%= v_m.seri_number _%>
                          </h5>
                          <a href="property-single" class="img">
                            <div id="carouselExampleIndicators<%= v_m._id _%>" class="carousel slide">

                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img data-src="images/mulk-images/5x5/<%= v_m.image[0]_%>" class="d-block w-100"
                                    alt="ilan resmi">
                                </div>
                                <% for (let index=1; index < v_m.image.length; index++) { %>
                                  <div class="carousel-item">
                                    <img data-src="images/mulk-images/5x5/<%= v_m.image[index] _%>"
                                      class="d-block w-100" alt="ilan resim">
                                  </div>
                                  <% } %>
                              </div>
                              <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators<%= v_m._id _%>" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators<%= v_m._id _%>" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          </a>

                          <div class="property-content">
                            <div class="price mb-2">$<%= v_m.price %>
                                <% if(v_m.proje===true){ %>
                                  <p style="float: right; color: red;">Projeden</p>
                                  <% } %>
                            </div>
                            <div>
                              <span class="d-block mb-2 text-black-50">
                                <%= v_m.adress _%>
                              </span>
                              <span class="city d-block mb-3">
                                <%= v_m.province _%> / <%= v_m.country _%>
                              </span>

                              <div class="specs d-flex mb-4">
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-home me-2"></span>
                                  <span class="caption">
                                    <%= v_m.room _%>
                                  </span>
                                </span>
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-bed me-2"></span>
                                  <span class="caption">
                                    <%= v_m.bedroom _%>
                                  </span>
                                </span>
                                <span class="d-block d-flex align-items-center me-3">
                                  <span class="icon-bath me-2"></span>
                                  <span class="caption">
                                    <%= v_m.bath _%>
                                  </span>
                                </span>

                                <span class="d-block d-flex align-items-center ">
                                  <span class="icon-area-chart me-2"></span>
                                  <span class="caption">
                                    <%= v_m.area_net %>m2
                                  </span>
                                </span>
                              </div>

                              <div class="d-flex">
                                <a data-mulk-id="<%= v_m._id %>" href="property-single/<%= v_m._id _%>"
                                  class="btn btn-primary py-2 px-3 text-uppercase">incele</a>
                                <a target="_blank"
                                  href="https://wa.me/905517026813?text=Merhaba,<%= v_m._id _%>,seri numaralı ilan ile ilgili bilgi almak istiyorum."><i
                                    class="bi bi-whatsapp"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                        <% }); %>
                          <% } %>

                            <div class="w-100">
                              <hr>
                              <button name="ticari"  type="button" class="yukle btn btn-primary" style=" 
                position: relative;
                top: -5vh;
                left: 50%;
                transform: translate(-50%, 0);">Yükle</button>
                            </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <%- include("layouts/footer") %>